@inherits LayoutComponentBase

<PageTitle>Memories of Azeroth</PageTitle>

<MudThemeProvider Theme="MainTheme.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.HourglassBottom" Color="Color.Inherit" Edge="Edge.Start" />

        <a href="">
            <MudText Typo="Typo.h6">Memories of Azeroth</MudText>
        </a>

        <MudSpacer />
        <MainSearchBoxComponent />
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>

    <MudMainContent Class="ma-4">
        <ErrorBoundary>
            @{
                @Body
            }
        </ErrorBoundary>
    </MudMainContent>

    <MainFooter>
    </MainFooter>

    <MudScrollToTop>
        <MudFab Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>