<MudDivider Class="my-2" />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderContent>
                <MudText>Memories of Azeroth</MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudDivider />

        <MudCardContent Class="@ClassPresets.CardContent">
            <MudGrid>
                <MudItem xs="6" md="4">
                    <a href="/about" tabindex="-1">
                        About
                    </a>
                </MudItem>
                <MudItem xs="6" md="4">
                </MudItem>
                <MudItem xs="12" md="4">
                    <a href="/terms-of-use" tabindex="-1">
                        Terms of Use
                    </a>

                    |

                    <a href="/privacy-policy" tabindex="-1">
                        Privacy Policy
                    </a>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>