@inherits LayoutComponentBase

<PageTitle>Memories of Azeroth</PageTitle>

<MudThemeProvider Theme="MainTheme.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25">

        <a href="" class="ma-2">
            <MudImage ObjectFit="ObjectFit.Cover" Fluid="true" Src="header-banner.png" />
        </a>

        <MudSpacer />

        <MainSearchBoxComponent ExtraClasses="d-none d-sm-flex" />

        <LoginDisplay />
    </MudAppBar>

    <MudMainContent>

        <div class="d-block d-sm-none">
            <MudPaper Elevation="25">
                <MudToolBar>
                    <MainSearchBoxComponent/>
                </MudToolBar>
            </MudPaper>
        </div>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            <ErrorBoundary>
                <AccountBannedHeader/>

                @Body

            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>

    <MainFooter>
    </MainFooter>

    <MudScrollToTop>
        <MudFab Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>