<MudCard Class="pa-2 ma-2 card" Outlined="true" Elevation="10">
    <MudCardContent>
        <div class="d-flex justify-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    </MudCardContent>
</MudCard>  