<h3>PublishCommentBoxComponent</h3>

@code {
    [Parameter] public long ReplyToUserId { get; init; }

    [Parameter] public string ReplyToUsername { get; init; }

    [Parameter] public long CommentId { get; init; }

    [Parameter] public long PostId { get; init; }
}
