<MudDialog>
    <DialogContent>
        <div class="d-flex justify-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    </DialogContent>
</MudDialog>